if TARGET_S5P_AESOP

config SYS_BOARD
	default "aesop"

config SYS_VENDOR
	default "samsung"

config SYS_SOC
	default "s5pc1xx"

config SYS_CONFIG_NAME
	default "aesop"

config DM
	default y

config DM_GPIO
	default y

config DM_SERIAL
	default y

endif
